.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f81212;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

}

.contenedor-cajas{
    display: flex;
    flex-wrap: wrap;
   gap: 20px;
  color: rgb(253, 25, 25);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   width: 100%;
   padding: 20px;
  font-size: 20px;
  background-color: #fdfcfc;
  border-radius: 10px;
  border: 1px solid rgb(241, 1, 1);
   box-sizing: border-box; 
 margin-bottom: 50px; 

}
